@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');


:root {
    --bronze:#D5966C;
    --dark: #151515;
    --grey:#444444;
}
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

a{
    border:none;
    outline:none;
    text-decoration:none;
}

/* TYPE */
h1,h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight:900;
}

h1{
    font-size:50px;
    line-height:45px;
}
h2{
    font-size:32px;
    line-height:32px;
}

p{
    font-family: 'Outfit', sans-serif;
    font-size:18px;
    line-height:28px;
}
footer p{
    font-size:16px;
    line-height:26px;
}


/* LOCATION SECTION */
.location{
    background:var(--dark);
    color:white;
}
.loc-text-cont{
    padding:48px 16px 56px 16px;
    display:flex;
    flex-direction:column;
}
.location h1{
    margin-bottom:48px;
}

.location h2{
    color: var(--bronze);
    margin-bottom:20px;
}
.loc-address{
    margin-bottom:20px;
}
.loc-info{
    max-width:398px;
}
/* Image div */
.loc-img img {
    /* height:100%; */
    width:100%;
    height:550px;
    object-fit:cover;
}
@media (min-width:768px){
    .loc-img img {
        height:600px;
    }
}
@media (min-width:1440px){
    .loc-img img {
        height:685px;
    }
}

@media (min-width:768px){
    .loc-text-cont{
        padding:88px 40px 80px 39px;
        flex-direction:row;
    }
    .location h1{
        font-size:55px;
        line-height:50px;
        max-width:223px;
        margin-right:68px;
    }
}

@media (min-width:1440px){
    .loc-text-cont{
        padding:104px 165px 128px 165px;
        flex-direction:row;
    }
    .location h1{
        font-size:70px;
        line-height:70px;
        max-width:350px;
        margin-right:220px;
    }
    .location h2 {
        font-size:36px;
        line-height:36px;
        margin-bottom:24px;
    }
    .location p{
        font-size:22px;
        line-height:32px;
    }
    .loc-address{
        margin-bottom:32px;
    }
    .loc-info {
        max-width:540px;
        
    }
}
/* LOGO */
.logo-cont {
    background:var(--bronze);
    width:110.05px;
    height:40px;
}
.logo-cont img{
    width:100%;
    object-fit:contain;
    filter: invert(1%) sepia(3%) saturate(30%) hue-rotate(314deg) brightness(90%) contrast(86%);
}
@media (min-width:1440px){
    .logo-cont {
        width:160px;
        height:58px;
    }
}

/* FOOTER */
footer{
    background:var(--bronze);
}

.footer-container{
    display:flex;
    flex-direction:column;
    margin:auto;
    padding:48px 32px 48px 32px;  
}
footer .details{
    display:flex;
    flex-direction:column;
}
footer .logo-cont {
    margin-bottom:38px;
}

footer .about{
    color:var(--dark);
    margin-bottom:38px;
    max-width:486px;
    color:var(--dark);
}

.social-links{
    display:flex;
    flex-direction:row;
    width:100px;
    justify-content:space-between;
    filter: invert(1%) sepia(3%) saturate(61%) hue-rotate(314deg) brightness(97%) contrast(86%);
}

footer .icon img {
    filter: invert(100%);
}

footer .icon img:hover {
    filter:none;
    transition: ease-out 0.3s;
}


@media (min-width:768px){
    .footer-container{
        flex-direction:row;
        justify-content:space-between;
        padding:56px 40px 56px 40px;
        max-width:1200px;
    }
    footer .details{
        flex-direction:row;
    }
    footer .about{
        margin-bottom:0;
        margin-left:65px;
        max-width:281px;
    }
}
@media (min-width:1440px){
    .footer-container{
        flex-direction:row;
        justify-content:space-between;
        padding-top:80px;  
        padding-bottom:80px;
    }
    footer .details{
        flex-direction:row;
    }
    footer .about{
        font-size:18px;
        line-height:28px;
        margin-left:140px;
        max-width:430px;
    }
}



/* BUTTONS */
.btn-2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size:20px;
    letter-spacing: 3.64px;
    width:264px;
    height:72px;
    display:flex;
    position:absolute;
    /* z-index:1; */
}
@media (min-width:768px){
    .btn-2 {
        margin-left:39px;
    }
}
@media (min-width:1440px){
    .btn-2 {
        margin-left:156px;
    }
}


/* button 2 */
.btn-2-text{
    display: flex;
    align-items: center;
    justify-content:center;
    width:208px;
    height:100%;
    color:white;
    font-weight:800;
    /* background:var(--dark); */
    background-color:#151515;
    box-shadow: inset 0 0 0 0 var(--bronze);
    transition: ease-out 0.3s;
}
.btn-2:hover .btn-2-text{
    /* background:var(--bronze); */
    box-shadow: inset -208px 0 0 0 var(--bronze);
    cursor:pointer;
}

.btn-2-arr{
    display: flex;
    align-items: center;
    justify-content:center;
    width:56px;
    height:100%;
    background:var(--bronze);
}
.btn-2:hover .btn-2-arr{
    background:var(--dark);
    cursor:pointer;
}
